
.login-form {
  max-width: 400px;
  margin: 0 auto;
  // padding: 24px;
  color: rgb(63, 83, 237);
}

      .login-form-margin {
        margin-bottom: 16px;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }

::ng-deep .ant-checkbox-wrapper {
  color: rgb(63, 83, 237);  
}

:host {
  display: flex;
  background-color:#011e39;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}