<!-- <p>article-categories-selection works!</p> -->
 <div class="shell">


  <div class="header">
    <div class="header-left">
      @if (row) {
        <img src="{{ row.image }}" alt="icon" />
      }
    </div>
    <div class="header-right">
      <div class="title">{{ row?.title }}</div>
      <!-- <div class="description">
        This is a longer multi-line description.  
        It can wrap to multiple lines.
      </div> -->
    </div>
  </div>


  <div class="toolbar p-3">
    <div class="buttons">
      <button nz-button nzType="primary" (click)="applyAndClose()">Apply</button>
      <button nz-button nzType="default" (click)="$checkedKeys.set([])">
        <span nz-icon nzType="clear"></span> Clear
      </button>
      <button nz-button nzType="default" (click)="cancel()">Cancel</button>
    </div>
  </div>

  <nz-divider class="tight-divider" nzType="horizontal"></nz-divider>

  <div class="tree-scroll">
    <nz-tree
      [nzData]="$treeNodes()"
      [nzExpandedKeys]="$expandedKeys()"
      [nzSelectedKeys]="$selectedKeys()"
      [nzCheckedKeys]="$checkedKeys()"
      [nzCheckable]="true"
      [nzCheckStrictly]="true"
      [nzTreeTemplate]="nodeTpl"
      nzBlockNode
      (nzClick)="onTreeNodeClick($any($event))"
      (nzExpandChange)="onTreeNodeExpandChange($event)"
      (nzCheckboxChange)="onCheck($any($event))">
      <!-- <ng-template #nzTreeTemplate let-node>
        <span 
          [attr.title]="null"
          nz-tooltip 
          [nzTooltipTitle]="node.title + ' - ' + node.key">
          {{ node.title }}
        </span>
      </ng-template> -->
    </nz-tree>
  </div>


<ng-template #nodeTpl let-node>
  <span
    class="node-label"
    (contextmenu)="onRightClick($event, node.origin)"  
  >
    <!-- {{ node.title }} ' - ' {{ node.key }} -->
    {{ node.title }}  
  </span>
</ng-template>  



<!-- Context menu -->
<nz-dropdown-menu #ctxMenu="nzDropdownMenu">
  <ul nz-menu class="ctx-item">
    <li nz-menu-item (click)="openAddSubcategoryModal()">
      ➕ Add/Insert a sub-category
    </li>
  </ul>
</nz-dropdown-menu>

<!-- Modal content (template reference for NzModalService) -->
<ng-template #addSubcategoryTpl>
  <form [formGroup]="popUpForm" (ngSubmit)="popUpFormSubmitAdd()" autocomplete="off">
    <nz-form-item>
      <nz-form-label>
        <label>Name</label>
      </nz-form-label>
      <nz-form-control [nzValidateStatus]="popUpForm.controls.categoryName">
        <input nz-input formControlName="categoryName" placeholder="New Category Name" />
        @if (popUpForm.controls.categoryName.invalid && popUpForm.controls.categoryName.touched) {
          <div class="ant-form-item-explain-error">
            Category Name is required
          </div>
        }
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>





