<!-- <form
  nz-form
  nzLayout="inline"
  [formGroup]="linkScrapeForm"
  class="login-form"
  (ngSubmit)="submitForm()"
> -->
<form
  nz-form
  nzLayout="inline"
  [formGroup]="linkScrapeForm"
  class="login-form"
>
  <nz-form-item class="login-form-spacer"></nz-form-item>

  <nz-form-item class="login-form-input">
    <nz-form-control
      nzErrorTip="Please input the URL"
      nzExtra="Enter/type, paste or drag'n'drop a Single Article URL here"
    >
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="url"
          placeholder="URL"
          (drop)="onDrop($event)"
          (dragover)="onDragOver($event)"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <label nz-checkbox formControlName="force">
      <span>If existing, Force Update</span>
    </label>
  </nz-form-item>

  <nz-form-item class="simple-select-input-row"
  >
    <!-- <nz-tree-select
      style="width: 100%"
      [nzNodes]="categoryNodes"
      nzPlaceHolder="Select a Category"
      [(ngModel)]="selectedCategoryName"
      (ngModelChange)="onTreeSelectCategoryChange($event)"
    > -->
    <nz-tree-select
      style="width: 100%"
      nzPlaceHolder="Select a Category for the Article to be Scraped"
      [nzNodes]="categoryNodes"
    >
    </nz-tree-select>
  </nz-form-item>


</form>

<!-- Separator -->
<div class="login-form-separator"></div>

<span class="article-status"> 
  @if (isNewArticle && postMetaDataString().length > 0) {
    New Article Scraped !
  } @else if (postMetaDataString().length > 0) {
    *** Existing Article ***
  }
</span>


<!-- Markdown Textarea / Preview container -->
<div class="text-area-container">
  <textarea nz-input [(ngModel)]="postMetaDataString" class="ta ta--top">
  </textarea>
  @if (preview) {
  <div
    class="ta--bottom markdown-container"
    context-select-all-scope
    [innerHTML]="safeHtmlContent()"
  ></div>
  } @else {
  <textarea
    nz-input
    [(ngModel)]="markdownString"
    class="ta ta--bottom"
  ></textarea>
  }

  <div class="button-container">
    <button
      nz-button
      nzType="primary"
      [disabled]="markdownString.length === 0 && linkURL().length === 0"
      (click)="onContentView()"
    >
      {{ preview ? "Markdown" : "Preview" }}
    </button>

    <button
      nz-button
      nzType="primary"
      [disabled]="markdownString.length === 0 && linkURL().length === 0"
      (click)="onClear()"
    >
      Clear
    </button>

    <button
      nz-button
      nzType="primary"
      [disabled]="markdownString().length === 0"
      (click)="onCopy()"
    >
      Copy
    </button>

    <button
      nz-button
      nzType="primary"
      [disabled]="markdownString().length === 0"
      (click)="onSave()"
    >
      Save
    </button>

    @if (!linkScrapeForm.get('force')?.value) {
    <button
      nz-button
      nzType="primary"
      [disabled]="markdownString().length === 0"
      (click)="onDBInsert()"
    >
      DB Insert
    </button>
    }
  </div>
</div>
