<!-- <p>layout works!</p> -->
<nz-layout>
  <nz-sider nzCollapsible [nzWidth]="120" [nzCollapsedWidth]="40">
    <div class="logo">PZ</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      @for (item of siderMenuItems; track item.label) {
      <li nz-menu-item>
        <a [routerLink]="item.route">
          <span nz-icon [nzType]="item.icon"></span>
          <span>{{ item.label }}</span>
        </a>
      </li>
      }
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <h1> 
        {{ headerTitle }}
      </h1>
    </nz-header>
    <nz-content>
      <!-- <div>Main Content Goes Here</div> -->
       <router-outlet /> 
    </nz-content>
    <nz-footer>
        {{ footerContent }}
    </nz-footer>
  </nz-layout>
</nz-layout>
