<!-- <p>layout works!</p> -->

<nz-layout>
  @if (!showSettings()) {
  <nz-sider nzCollapsible [nzWidth]="140" [nzCollapsedWidth]="50">
    <div >
      <button
        nz-button
        nzType="link" 
        nzShape="circle" 
        class="logo-icon-btn"
        nz-tooltip
        nzTooltipTitle="Home"
        [routerLink]="'/'"
      >
        <span 
          nz-icon 
          nzType="home" 
          nzTheme="outline" 
        ></span>
      </button>  
      <!-- PZ -->
    </div>

    <div class="sider-menu-items">
      <ul nz-menu nzTheme="dark" nzMode="inline">
        @for (item of $siderMenuItems(); track item.label) {
        <li nz-menu-item>
          <a [routerLink]="item.route">
            <span nz-icon [nzType]="item.icon"></span>
            <span>{{ item.label }}</span>
          </a>
        </li>
        }
      </ul>
    </div>
    
  </nz-sider>
  }
  <nz-layout>
    <nz-header id="nzh1">
      <h1>{{ headerTitle }}</h1>
    </nz-header>

    <nz-header id="nzh2">
      <div class="header-left">
        <ul nz-menu nzMode="horizontal" nzTheme="dark" class="main-menu">
          @for (item of mainMenuItems; track item.id) {
          <li
            nz-menu-item
            [nzSelected]="item.id === selectedMainMenuId"
            (click)="onMainMenuClick(item)"
          >
            {{ item.label }}
          </li>
          }
        </ul>
      </div>

      <div class="header-right">
        <button
          nz-button
          nzType="link"
          nzShape="circle"
          class="icon-btn"
          nz-tooltip
          nzTooltipTitle="Settings"
          (click)="onSettingsClick()"
        >
          <span nz-icon nzType="setting" nzTheme="outline"></span>
        </button>
        <button
          nz-button
          nzType="link"
          nzShape="circle"
          class="icon-btn"
          nz-tooltip
          nzTooltipTitle="Exit"
          (click)="onExitClick()"
        >
          <span nz-icon nzType="logout" nzTheme="outline"></span>
        </button>
      </div>
    </nz-header>

    <nz-content>
      <!-- <div>Main Content Goes Here</div> -->
      @if (showSettings()) {
      <settings (closed)="onSettingsClosed()" />
      } @else {
      <router-outlet />
      }
    </nz-content>
    <nz-footer>
      {{ footerContent }}
    </nz-footer>
  </nz-layout>
</nz-layout>
