@use '../src/styles/markdown-styles.scss';

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}

app-root, nz-layout {
  height: 100%;
}

