

:host {
  display: flex;
  flex-direction: column;
  background-color: #011e39;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
  height: 100%;
  width: 100%;
}

.text-area-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 1200px;
  padding: 16px;
  box-sizing: border-box;
  font-size: smaller;
}


.simple-label-row {
  display: flex;
  width: 100%;
  gap: 8px;
  margin-bottom: .5px; // decrease as needed

}
.textarea-label {
  color: #ffffff;
  // font-size: 0.9rem;
  font-size: x-small;
  // margin-bottom: 8px;
}

.text-label {
  color:cornflowerblue;
  // font-size: 0.9rem;
  font-size: small;
  margin-bottom: 12px;
  // border: .1px solid #4da6ff;
}

.simple-input-row {
  display: flex;
  width: 100%;
  // gap: 8px;
  margin-bottom: 16px;

  // nz-tree-select {
  //   flex: 0 0 100%; // 1/3 width
  // }
 
  // // input {
  // //   font-size: xx-small !important;
  // // }

  // input[nz-input].text-input-field {
  //   // flex: 1 1 auto; // remaining width
  // }
}

// --------------- Hardcoded value, is Working -------------------
::ng-deep .ant-select-dropdown.ant-select-tree-dropdown {
  // margin-bottom: 150px !important; /* adjust as needed */
  // height: calc(100vh - 100px) !important;
  max-height: 500px !important;
}



// .simple-label-row,
// .simple-input-row {
//   display: grid;
//   grid-template-columns: 35% 1fr; /* First column = 40% (tree-select), second = rest */
//   gap: 8px;
//   align-items: center; /* Vertically center */
//   // margin-bottom: 8px;
// }

// .simple-label-row .textarea-label {
//   text-align: left; /* optional, for label alignment */
// }

// .simple-input-row nz-tree-select,
// .simple-input-row input {
//   width: 100%; /* Fill the grid column */
// }




















.input-button-row {
  display: flex;
  width: 100%;
  gap: 8px;
  margin-bottom: 16px;

  input[nz-input] {
    flex: 1 1 auto;
  }

  button[nz-button] {
    flex: 0 0 auto;
  }
}

.solo-button-row {
  display: flex;
  width: 100%;
  gap: 8px;
  justify-content: flex-end;
  margin-bottom: 16px;
}


.textarea-section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; // this section grows to fill available space
}

.stretch-textarea1 {
  flex: 1; // takes 1 part
  background-color: rgb(142, 236, 231);
  width: 100%;
  resize: none;
  font-size: x-small;
  margin-bottom: 8px;
  overflow: auto;
}

.scrape-button-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 8px;
}

.login-form-separator {
  width: 100%;
  height: 2px;
  background-color: #4da6ff;
  margin-bottom: 8px;
}

.stretch-textarea2 {
  flex: 3; // takes 3 parts (3× the height of .stretch-textarea1)
  background-color: rgb(169, 222, 243);
  width: 100%;
  resize: none;
  overflow: auto;
  font-size:x-small; 
}

.text-input-field {
  font-size: small !important;
}



.action-button-row {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;

  button[nz-button] {
    // font-size: x-small;
  }
}




 