

:host {
  display: flex;
  flex-direction: column;
  background-color: #011e39;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
  height: 100%;
  width: 100%;
}

.text-area-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 1200px;
  padding: 16px;
  box-sizing: border-box;
  font-size: smaller;
}

.input-button-row {
  display: flex;
  width: 100%;
  gap: 8px;
  margin-bottom: 16px;

  input[nz-input] {
    flex: 1 1 auto;
  }

  button[nz-button] {
    flex: 0 0 auto;
  }
}

.solo-button-row {
  display: flex;
  width: 100%;
  gap: 8px;
  justify-content: flex-end;
  margin-bottom: 16px;
}


.textarea-section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; // this section grows to fill available space
}

.stretch-textarea1 {
  flex: 1; // takes 1 part
  background-color: rgb(142, 236, 231);
  width: 100%;
  resize: none;
  font-size: x-small;
  margin-bottom: 8px;
  overflow: auto;
}

.scrape-button-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 8px;
}

.login-form-separator {
  width: 100%;
  height: 2px;
  background-color: #4da6ff;
  margin-bottom: 8px;
}

.stretch-textarea2 {
  flex: 3; // takes 3 parts (3× the height of .stretch-textarea1)
  background-color: rgb(169, 222, 243);
  width: 100%;
  resize: none;
  overflow: auto;
  font-size:x-small; 
}

.text-input-field {
  font-size: small !important;
}

.textarea-label {
  color: #ffffff;
  // font-size: 0.9rem;
  font-size: x-small;
  margin-bottom: 4px;
}

.action-button-row {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;

  button[nz-button] {
    // font-size: x-small;
  }
}




 