<!-- -------------------------------------------------- -->
<div class="text-area-container">
  <label class="textarea-label">SQLite File Name:</label>
  <label class="text-label">{{sqliteFileName()}}</label>

  <!-- <div class="input-button-row">
    <input
      type="text"
      nz-input
      [(ngModel)]="sqliteFileName"
      placeholder="SQLite File Name"
      class="text-input-field"
    />

    <button nz-button nzType="primary" (click)="onGetSqliteFile()">
      SQLite File...
    </button>
  </div> -->


  <!-- -------------------------------------------------- -->



  <div class="simple-label-row">
    <!-- <label class="textarea-label">Bookmark Folder Name:</label> -->
    <label class="textarea-label">{{fullSelectedNodePathLabel()}}</label>
  </div>
 


  <!-- -------------------------------------------------- -->

<div class="simple-input-row">
  <nz-tree-select
    style="width: 100%"
    [nzNodes]="treeNodes"
    nzPlaceHolder="Select a folder"
    [(ngModel)]="selectedFolderId"
    (ngModelChange)="onTreeSelectFolderChange($event)">
  </nz-tree-select>

  <!-- <input
    type="text"
    nz-input
    [(ngModel)]="fullSelectedNodePath"
    placeholder="Bookmark folder-name"
    class="text-input-field"
  /> -->
</div>

  <!-- -------------------------------------------------- -->

  <!-- <div class="solo-button-row">
    <button nz-button 
    nzType="primary" 
    [disabled]="sqliteFileName().length === 0 || bookmarkFolder.length === 0"
    (click)="onGetBookmarkFolderUrls()">
      Get Bookmark Folder URLs...
    </button>
  </div> -->

  <!-- -------------------------------------------------- -->
  <!-- <div class="login-form-separator"></div> -->
  <!-- -------------------------------------------------- -->

  @if (importedUrlsArrayString().length === 0) {
  <label [styleDrct]="customStyles" class="textarea-label"
    >{{imoprtedUrlsLabel()}}:
  </label>
  } @else {
  <label class="textarea-label">{{imoprtedUrlsLabel()}}: </label>
  }

  <textarea
    nz-input
    [(ngModel)]="importedUrlsArrayString"
    class="stretch-textarea1"
  ></textarea>

  <div class="scrape-button-row">
    <button
      nz-button
      nzType="primary"
      [disabled]="importedUrlsArrayString().length === 0"
      (click)="onScrape()"
    >
      Scrape Imported URLs
    </button>
  </div>

  <!-- -------------------------------------------------- -->
  <div class="login-form-separator"></div>
  <!-- -------------------------------------------------- -->

  @if (scrappedDataArrayString().length === 0) {
  <label [styleDrct]="customStyles" class="textarea-label"
    >Scrape Results:
  </label>
  } @else {
  <label class="textarea-label">Scrape Results: </label>
  }

  <textarea
    nz-input
    [(ngModel)]="scrappedDataArrayString"
    class="stretch-textarea2"
  ></textarea>

  <div class="action-button-row">
    <button
      nz-button
      nzType="primary"
      [disabled]="
        selectedFolderId.length === 0 &&
        importedUrlsArrayString().length === 0 &&
        scrappedDataArrayString().length === 0 
      "
      (click)="onClearAll()"
    >
      Clear All
    </button>

    <button
      nz-button
      nzType="primary"
      [disabled]="
        scrappedDataArray().length === 0 &&
        scrappedDataArrayString().length === 0
      "
      (click)="onCopyScrapedData()"
    >
      Copy Scraped
    </button>

    <button
      nz-button
      nzType="primary"
      [disabled]="
        scrappedDataArrayString().length === 0 &&
        importedUrlsArrayString().length === 0
      "
      (click)="onSaveScrapedData()"
    >
      Save Scraped
    </button>
  </div>
</div>
